# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SNA_front.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Study\Sna\SNA_front\.idea\.idea.SNA_front\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
